.bread-crumb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.border-10{
    border-top: 1px solid var(--button-neutralOutline-stroke, #CECECE);
    padding: 7px 20px;
    border-bottom:1px solid var(--button-neutralOutline-stroke, #CECECE);
}
.bread-crumb a{
    text-decoration: none;
}