.ctx {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.gap {
	gap: 0px;
}

.reports-filter {
	padding: 8px 10px;
	gap: 4px;
	border-radius: 4px 0px 0px 0px;
	border: 1px solid #DCDFE3;
	opacity: 0px;
	outline: none;

}



.box {
	height: auto !important;
	background: #fff;
	/* min-width: 24%; */
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	color: black;
}

.box:hover {
	transition: 0.2s all ease;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box h4 {
	font-size: 18px;
	margin-bottom: 20px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.01em;
	text-align: left;

}

.box-tb {
	background: rgba(247, 248, 251, 1);
	/* width: 100px; */
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.box-tb:hover {
	background-color: #d0f6f6;
}

.selected {
	background-color: #d0f6f6;
	color: #0056b3;
}

.hidden {
	display: none;
}

.table-head,
.table-row {
	display: flex;
	justify-content: space-between;
	padding: 18px 50px;
	align-items: center;

}

.table-row:hover {
	cursor: pointer;
	transition: 0.4s all ease;
	box-shadow: 1px 2px 5px 2px #CECECE;
}

.table-head {
	font-weight: bold;
	background-color: var(--color-whitesmoke-100);
}

.table-row {
	border-bottom: 1px solid #CECECE
}

.table-heading {
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	color: #666E7D;

}

.table-detail-data {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.07px;
	text-align: left;
	color: #000000DE;
	;
}

.table-heading,
.table-detail-data {
	margin: 0;
	flex: 1;
	text-align: left;
}

.table-heading img,
.table-detail-data img {
	margin-left: 5px;
}

.three-dots {
	cursor: pointer;
	position: relative;
}

.popup-menu {
	position: absolute;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	width: 200px;
	left: -132px;
	top: 20px;
	z-index: 1000;

}

.popup-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.popup-menu li {
	padding: 10px;
	cursor: pointer;
}

.popup-menu li:hover {
	background-color: #f2f2f2;
}

.hide-menu {
	display: none;
}

.toggle-button {
	outline: none !important;
	border: none !important;
	background-color: white;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-btn,
.page-number {
	padding: 15px 18px;
	margin: 0 5px;
	border: 1px solid #ddd;
	cursor: pointer;
	border-radius: 10px;
}

.page-number {
	background-color: white;
}

.page-btn {
	background: var(--Color-Tokens-Content-Light-Disable, #D8D8D8);
	color: #343A40;
}

.page-number.active {
	background-color: var(--blue);
	color: white;
}

.page-btn:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.footer-and-pagination {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 1286px;
	display: flex;
	justify-content: flex-end;
	background-color: #CECECE;
}

.middle-frame-section {
	position: relative;
}

@media screen and (max-width:600px) {

	.table-head,
	.table-row {
		gap: 20px;

	}

	.table-head {
		flex: 1;
		/* overflow-x: auto; */
		padding: 9px 14px;
	}

	.table-row {
		flex: 1;
		/* overflow-x: auto; */
		overflow: visible;
		padding: 9px 14px;
	}


}